.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66px;
  background: linear-gradient(
    90deg,
    rgba(255, 196, 0, 1) 12%,
    rgba(255, 223, 43, 1) 56%,
    rgba(255, 246, 43, 1) 77%
  );
  padding: 15px 0;
  flex-shrink: 0;
}
